

.WebCam {

    &__container {
        width: 85%;
        margin: 0 auto;

        display: flex;
        height: 50rem;
        align-self: center;
        justify-content: space-between;
        position: relative;
    }

    &__img {
        height: 42rem;
        margin-top: 6rem;
        border-radius: 0.5rem;
    }

    &__btn {
        width: 10rem;
        height: 10rem;
        margin: auto;
        border-radius: 100%;
        cursor: pointer;
        outline: none;
        font-weight: 700;
        letter-spacing: 0.1rem;
        padding: 0.5rem
    }

}