

.WebCam {

    &__container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-self: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
    }

    &__img {
        height: 41.5rem;

        width: 55rem;
        margin: 0 auto;
        margin-top: 6.5rem;
    }

    &__btn {
        width: 12.5rem;
        height: 12.5rem;
        margin: auto;
        border-radius: 100%;
        cursor: pointer;
        outline: none;
        font-weight: 700;
        letter-spacing: 0.1rem;
        padding: 0.5rem;
        border: 0.15rem solid grey;
        background-color: transparent;
        transition: 1s;

        &:hover {
            background-color: grey;
        }
    }

    &__camera-container {
        display: flex;
        justify-content: center;
    }

}